<html>
    <header>
        <title>Roaming Forum</title>
    </header>
    <body style="background-color: whitesmoke">
        <div id="test" style="text-align: center;">
            <h2>Test (why are we here)</h2>
            This is a test!
            <br>
            <p>This is a test! Do not panic.</p>
        </div>
        <pre>
            <tt>
                    for(int i = 0; i<10; i++)
                    {
                        printf("Hi");
                    } 
            </tt>
            <hr>
            <sub>1</sub>X<sup>2</sup>
            &nbsp;
            <u>This is underlined</u>
            <b>This is bold</b>
            <i>This is italics</i>
            <strike>This is strike-through</strike>
            &nbsp;
            <a href="http://127.0.0.1:5000/component">Link to component</a>
            <img src="https://upload.wikimedia.org/wikipedia/commons/b/b6/Felis_catus-cat_on_snow.jpg" height=190 width=300></img>
            <a href="#">Top</a>
        </pre>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>
</html>
